[tox]
env_list = ["unit", "integration", "report"]
skipsdist = true

[testenv]
deps = ["-rrequirements.txt"]

["testenv:unit"]
commands = [
    ["coverage", "run", "-a", "-m", "unittest", "discover", "tests/unit"]
]
set_env = { PYTHONPATH = "{toxinidir}" }

["testenv:integration"]
commands = [
    ["coverage", "run", "-a", "-m", "pytest", "tests/integration"]
]
set_env = { PYTHONPATH = "{toxinidir}" }

["testenv:report"]
deps = ["coverage"]
skip_install = true
commands = [
    ["coverage", "report"],
    ["coverage", "html"]
]